* {
  font-family: 'Lato';
  user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
p {
  padding: 0;
  margin: 0;
}